
{% extends "layout.html" %}

{% block content %}
<div class=page>
<h1 class=date>Add time</h1>
  {% if error %} <p class=error><strong>Error: </strong>{{ error }}{% endif %}

  <form action="{{ url_for('add', matricule=matricule, date=date)  }}" method=post class=extra>   
		
            <dd>
			<h2>Project number:</h2>
			<dd><input type=number name=numeroproject required/>
            <dd>
			<h2>Time spent (in minutes):	</h2>
			<dd><input type=number name=nombreMinutes required/>	
			<dd><input type=submit value=Add! class=button5>

	</form>
</div>

{% endblock %}
