{% extends "layout.html" %}
{% block content %}
        <div class=page>
        {% if error %} <p class="error"><strong>Error: </strong>{{ error }}{% endif %}
          <div class=entries2>
            <form action="{{ url_for('landing') }}" method=post class=add-entry>   
		        <div>
                <d1>
                <dt><h1 class=date>Login</h1>
                
                <dd>
                <h2>Enter your employee number below</h2>
                <input type=text name='matricule' "style=height: 20px;">
                <input type=submit value=Submit class=button5>
                </d1>
                </div>
            </form>
           </div>
         </div>
{% endblock %}
