{% extends "layout.html" %}

{% block content %}
<div class=page>
<h1 class=date>Update</h1>
  {% if error %} <p class=error><strong>Error: </strong>{{ error }}{% endif %}

  <form action="{{ url_for('update', matricule=matricule, date_du_jour=date_du_jour, id_=id_) }}" method=post class=extra>   
		
            <dd>
			<h2>New value for time (in minutes):	</h2>
			<dd><input type=number name=nombreMinutes required>	
			<dd><input type=submit value=Save class=button5>

	</form>
	
</div>
{% endblock %}
